apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: default
  annotations: 
    "helm.sh/hook": post-install
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
