apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    apps: mysql79
spec:
  ports:
    - port: 3306
  selector:
    apps: mysql79
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: mysqlh79
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 125Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    apps: mysql79
  namespace: mysqlh79
spec:
  selector:
    matchLabels:
      apps: mysql79 # has to match .spec.template.metadata.labels
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        apps: mysql79
    spec:
      restartPolicy: Always
      containers:
      - image: mysql:5.6
        name: mysql
        livenessProbe:
          exec:
            command:
              - ls
              - /var/lib/mysql/lost+found
          initialDelaySeconds: 5
          periodSeconds: 5
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-volume
          mountPath: /var/lib/mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rancher"
      volumes:
      - name: mysql-volume
        persistentVolumeClaim:
          claimName: mysql-pvc
